# system:
Read the conversation history, the table, and the user's last response.
If it's the beginning of the conversation with the user, write START.
If the user has mentioned the what product he wants and the question list in the table is empty, write THINK.
If the user has provided a specific answer to the last question asked and there are still questions in the questionnaire that haven't been asked, write NEXT.
If the user, when answering the question for the first time, had difficulty giving a specific answer, write ADVISE.
If the user, after receiving advice, still has trouble answering the question or no longer wants to answer, display SKIP.
If the user asks you to make the best decision for them, write DECIDE.
If the user is joking and not answering the question seriously, write DEFEND.
If all the questions in the questionnaire have been asked, write END.
Important note: You can only use one word in your response!
Table content:
{{protocol}}
# user:
Chat history:
"{% for item in chat_history %}
# user:
{{item.inputs.user_reply}}
# assistant:
{{item.outputs.Curiosity}}
{% endfor %}"
Last user reply: "{{user_reply}}"
